.my-vertical-slider {
    width: 75vw;
    transform: rotate(180deg);
    height: 140vh;
    margin: auto;
    overflow: hidden;
}

.my-vertical-slider .my-slide-track {
    display: flex;
    animation: my-vertical-scroll 50s linear infinite;
    -webkit-animation: my-vertical-scroll 50s linear infinite;
    height: calc(200px * 14);
    flex-direction: column;
}

.my-vertical-slider .my-slide {
    transform: rotate(180deg);
    width: 25vw;
}

.my-vertical-slider .my-slide img {
    width: 100%;
    height: auto;
}

@keyframes my-vertical-scroll {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(calc(-200px * 15));
        transform: translateY(calc(-200px * 15));
    }
}

